<%= form_with(model: question, local: true) do |form| %>
  <div class="field">
    <%= form.label :type_id %>
    <%= form.text_field :type_id, id: :question_type_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :question_title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :question_text %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible, id: :question_visible %>
  </div>

  <div class="field">
    <%= form.label :locked %>
    <%= form.check_box :locked, id: :question_locked %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
