
<div class="row">
  <%= render 'layouts/errors', object: resource %>
</div>

<div class="row">  
  <div class="panel panel-default wide-panel">        
    <div class="panel-heading">
      <h4><strong>Profile</strong></h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
          <%= f.label :username, class: "control-label" %>
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email, class: "control-label" %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, class: "control-label" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "control-label" %>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        </div>

        <hr>

        <div class="form-group">
          <%= f.label :current_password, class: "control-label" %> <i>(required)</i>
          <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: "center-block btn btn-primary" %>
        </div>
      <% end %>
    </div>
    
    <!--
    <div class="panel-footer">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger center-block" %>
    </div>
    -->
  </div>
</div>
