<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @given_answer.user %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @given_answer.answer %>
</p>

<%= link_to 'Edit', edit_given_answer_path(@given_answer) %> |
<%= link_to 'Back', given_answers_path %>
