<div class="container">
  <div class="row">
    <h2><b>Rooms</b></h2>
    <hr>
  </div>

  <div class="row">
    <%= form_with(model: @room, url: {:controller => 'rooms', :action => 'create'}, class: "form-inline") do |form| %>
      <div class="form-group">
        <%= form.label :name, class: "control-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :open, class: "control-label" %>
        <%= form.check_box :open, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.submit "Create", class: "btn btn-success center-block" %>
      </div>
    <% end %>
    <hr>
  </div>

  <div class="row">
    <table data-toggle="table"
           data-classes="table table-hover"

           data-search="true"
           data-search-time-out="100"
           data-search-align="left"
           data-trim-on-search="false"

           data-pagination="true"
           data-page-size="10"
           data-page-list="[]"

           data-classes="table">
      <thead>
        <tr>
          <th data-align="center" data-field="id" data-sortable="true">Id</th>
          <th data-align="center" data-field="name" data-sortable="true">Name</th>
          <th data-align="center" data-field="permission" data-sortable="true">Permission</th>
          <th data-align="center" data-field="status" data-sortable="true">Status</th>
          <th data-align="center"></th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr class= <%= if room.open then "success" elsif room.role.name == "Admin" then "warning" else "" end %>>
            <td><%= room.id %></td>
            <td><%= room.name %></td>
            <td><%= room.role %>
            <td><%= room.open ? "Open" : "Closed" %>
            <td><%= link_to 'Enter', room, class: 'btn btn-primary btn-xs ' + (room.closed && room.role.name != "Admin" ? 'disabled' : ''), tabindex: "-1" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
