<div class="container">
  <div class="row">
    <%= link_to 'New Room', new_room_path %>
    <hr>
  </div>

  <div class="row">
    <table data-toggle="table"

           data-search="true"
           data-search-time-out="100"
           data-search-align="left"

           data-pagination="true"
           data-page-size="10"
           data-page-list="[]"

           data-classes="table table-no-bordered"
           data-striped="true">
      <thead>
        <tr>
          <th data-align="center" data-field="id">Id</th>
          <th data-align="center" data-field="name" data-sortable="true">Name</th>
          <th data-align="center" data-field="permission" data-sortable="true">Permission</th>
          <th data-align="center" data-field="status" data-sortable="true">Status</th>
          <th data-align="center"></th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.id %></td>
            <td><%= room.name %></td>
            <td><%= room.role %>
            <td><%= room.open ? "Open" : "Closed" %>
            <td><%= link_to 'Join', room, class: 'btn btn-primary btn-xs ' + (room.closed && room.role.name != "Admin" ? 'disabled' : ''), tabindex: "-1" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
