<div class="container">
  <div id="title" class="row">
    <div class="panel panel-default">
      <div class="panel-body">
          <h3><b><%= @room.name %></b></h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="questions-container" class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
           <h4><b>Questions</b></h4>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-success">Create</button>
        </div>
        <div id="question-list" class="list-group">
          <% @questions.each do |q| %>
            <button type="button" onclick="loadQuestion(<%= q.id.to_s %>)" class="question-button list-group-item list-group-item-action"><%= q.title %></button>
          <% end %>
        </div>
      </div>  
    </div>

    <div class="col-xs-8">
      <div id="answers-container" class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><b id="question-title"></b></h4>
          </div>
          <div class="panel-body">
            <p id="question-text"></p>
            <hr>
            <p id="question-answers"></p>
          </div>
        </div>
      </div>      

      <div id="messages-container" class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul id="message-list">
              <% @messages.each do |m| %>
                <li><%= m.to_s %>  </li>
              <% end %>
            </ul>
          </div>
          <div class="panel-footer">
            <div id="message-form">
              <%= render 'messages/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


